---

---
<section class="w-full bg-gray-50 py-20 px-8" data-aos="fade-down" data-aos-delay="100">
    <div class="container mx-auto max-w-7xl">
      <h2 class="text-4xl font-bold text-gray-800 text-center mb-12">
        ¿Por qué Elegir Mis Servicios?
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Ventaja 1 -->
        <div class="flex flex-col items-center text-center p-6 transition-transform duration-300 hover:scale-105">
            <img src="icono1.png" class="w-16 h-16 mb-4" alt="">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">Tranquilidad y Confianza</h3>
          <p class="text-gray-600 leading-relaxed">
            Cada trabajo está enfocado en brindar tranquilidad a nuestros clientes a través de un servicio transparente y profesional.
          </p>
        </div>
        <!-- Ventaja 2 -->
        <div class="flex flex-col items-center text-center p-6 transition-transform duration-300 hover:scale-105">
          <img src="icono2.png" class="w-16 h-16 mb-4" alt="">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">Cumplimiento Garantizado</h3>
          <p class="text-gray-600 leading-relaxed">
            Aseguro cada paso de su proceso fiscal y contable, siempre oportuno y en cumplimiento con la normativa vigente.
          </p>
        </div>
        <!-- Ventaja 3 -->
        <div class="flex flex-col items-center text-center p-6 transition-transform duration-300 hover:scale-105">
            <img src="icono3.png" class="w-16 h-16 mb-4" alt="">
          <h3 class="text-xl font-semibold text-gray-800 mb-2">Asesoramiento Experto</h3>
          <p class="text-gray-600 leading-relaxed">
            Experiencia y conocimiento listos para enfrentar cualquier reto fiscal o contable que su proyecto requiera.
          </p>
        </div>
      </div>
      <div class="text-center mt-12">
        <a href="https://wa.me/573054188289" class="inline-block bg-green-600 text-white font-bold py-3 px-6 rounded-full shadow-lg hover:bg-green-700 transition-colors duration-300" target="_blank" rel="noopener noreferrer" aria-label="Contactar a través de WhatsApp">
          ¡Contáctame Ahora!
        </a>
      </div>
    </div>
  </section>
  