<section class="w-full bg-[#ffffff] py-24 px-8 lg:px-32" id="nosotros" data-aos="fade-down" data-aos-delay="100">
  <div class="container mx-auto max-w-7xl">
    <h2 class="text-3xl lg:text-6xl font-extrabold text-gray-800 text-center lg:mb-20">
      ¿Por qué Elegir<span class="text-[#2d6a4f]"> Mis Servicios?</span>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-16">
      <!-- Ventaja 1 -->
      <div class="flex flex-col items-center text-center space-y-6">
        <div class="flex items-center justify-center w-32 h-32 bg-[#52b788] rounded-full">
          <img src="icono1.png" class="w-20 h-20 object-contain" alt="Tranquilidad y Confianza">
        </div>
        <h3 class="text-3xl font-semibold text-[#52b788]">Tranquilidad y Confianza</h3>
        <p class="text-lg text-gray-600 leading-relaxed max-w-sm">
          Cada trabajo está enfocado en brindar tranquilidad a nuestros clientes a través de un servicio transparente y profesional.
        </p>
      </div>
      <!-- Ventaja 2 -->
      <div class="flex flex-col items-center text-center space-y-6">
        <div class="flex items-center justify-center w-32 h-32 bg-[#52b788] rounded-full">
          <img src="icono2.png" class="w-20 h-20 object-contain" alt="Cumplimiento Garantizado">
        </div>
        <h3 class="text-3xl font-semibold text-[#52b788]">Cumplimiento Garantizado</h3>
        <p class="text-lg text-gray-600 leading-relaxed max-w-sm">
          Aseguro cada paso de su proceso fiscal y contable, siempre oportuno y en cumplimiento con la normativa vigente.
        </p>
      </div>
      <!-- Ventaja 3 -->
      <div class="flex flex-col items-center text-center space-y-6">
        <div class="flex items-center justify-center w-32 h-32 bg-[#52b788] rounded-full">
          <img src="icono3.png" class="w-20 h-20 object-contain" alt="Asesoramiento Experto">
        </div>
        <h3 class="text-3xl font-semibold text-[#52b788]">Asesoramiento Experto</h3>
        <p class="text-lg text-gray-600 leading-relaxed max-w-sm">
          Experiencia y conocimiento listos para enfrentar cualquier reto fiscal o contable que su proyecto requiera.
        </p>
      </div>
    </div>
    <div class="text-center mt-20">
      <a href="https://wa.me/573054188289" 
         class="inline-block bg-green-600 text-white font-bold text-2xl py-4 px-12 rounded-full hover:bg-green-700 transition-colors duration-300" 
         target="_blank" rel="noopener noreferrer" 
         aria-label="Contactar a través de WhatsApp">
        ¡Contáctame Ahora!
      </a>
    </div>
  </div>
</section>
