---
export interface Props {
  images: string[];
}

const { images } = Astro.props;
---

<section id="gallery" class="relative w-full mx-auto overflow-hidden" aria-label="Galería de imágenes">
  <div class="gallery-container grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 p-4">
    {images.map((image, index) => (
      <figure class="gallery-item flex justify-center items-center bg-gray-100">
        <img src={image} alt={`Imagen ${index + 1}`} class="w-full h-full object-cover" loading="lazy" />
      </figure>
    ))}
  </div>
</section>

<style>
  .gallery-item {
    aspect-ratio: 1; /* Mantiene una relación de aspecto cuadrada */
  }
</style>

