---
// Props para recibir los datos del servicio
export interface ServiceProps {
    icon: string;
    title: string;
    items: string[];
    whatsappMessage: string; // Agregamos una nueva prop para el mensaje de WhatsApp
}

const { icon, title, items, whatsappMessage } = Astro.props;
---

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js" onload="AOS.init({ duration: 100 })"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css" />
</head>

<!-- Servicio Card con animación de olas en el fondo con colores verdes -->
<div 
  class="relative bg-white mt-20 cursor-pointer p-6 rounded-2xl shadow-xl hover:shadow-2xl hover:bg-slate-200 transition-shadow duration-300 h-[420px] 2xl:h-96 flex flex-col justify-between text-gray-800 overflow-hidden playing"
  data-aos="fade-up"
>
  <!-- Olas animadas de fondo -->
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <!-- Contenido principal de la card -->
  <div class="z-10" data-aos="fade-in">
      <h3 class="text-3xl font-semibold mb-4">{title}</h3>
      <ul class="text-gray-700 text-left space-y-2">
          {items.map((item) => (
            <li class="text-[17px]" data-aos="fade-up" data-aos-delay="100">• {item}</li>
          ))}
      </ul>
  </div>

  <!-- Icono y Botón de WhatsApp -->
  <div class="z-10 flex justify-between items-end mt-auto" data-aos="fade-up" data-aos-delay="100">
      <div class="flex justify-start">
          <img class="w-16 h-16 object-contain bg-white rounded-full" src={icon} alt="" />
      </div>
      <a
          href={`https://api.whatsapp.com/send?phone=573054188289&text=${encodeURIComponent(whatsappMessage)}`}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-[#4dbb4b] text-white px-4 hover:scale-110 py-2 rounded-full shadow-md hover:shadow-lg transition duration-300"
      >
          Contactar por WhatsApp
      </a>
  </div>
</div>

<style>
/* Estilos base */
.playing {
  position: relative;
  overflow: hidden;
}

/* Olas animadas con paleta verde clara */
.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.3;
  background: linear-gradient(744deg, #b0eac9, #7dd3a5 60%, #5ec380);
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.wave:nth-child(2) {
  top: 210px;
  animation-duration: 50s;
}

.wave:nth-child(3) {
  top: 210px;
  animation-duration: 45s;
}

/* Animación de las olas */
@keyframes wave {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
</style>
