---
// Props para recibir los datos del servicio
export interface ServiceProps {
    icon: string;
    title: string;
    items: string[];
    whatsappMessage: string; // Agregamos una nueva prop para el mensaje de WhatsApp
}

const { icon, title, items, whatsappMessage } = Astro.props;

---
<div class="relative bg-white cursor-pointer p-6 rounded-2xl shadow-xl hover:shadow-2xl transition-shadow duration-300 h-[420px] 2xl:h-96 flex flex-col justify-between text-gray-800 overflow-hidden">
    <!-- Círculo decorativo de fondo -->
    <div class="absolute top-0 left-0 w-40 h-40 bg-white/50 rounded-full blur-3xl"></div>
    
    <div class="z-10">
      <!-- Título del servicio -->
      <h3 class="text-3xl font-bold mb-4">{title}</h3>
      
      <!-- Lista de elementos del servicio -->
      <ul class="text-gray-600 text-left space-y-2">
        {items.map((item) => (
          <li class="text-[17px]">• {item}</li>
        ))}
      </ul>
    </div>
  
    <!-- Icono y Botón de WhatsApp -->
    <div class="z-10 flex justify-between items-end mt-auto">
      <!-- Contenedor del Icono -->
      <div class="flex justify-start">
        <img class="w-16 h-16 object-contain" src={icon} alt="" />
      </div>
  
      <!-- Botón de WhatsApp -->
      <a
        href={`https://api.whatsapp.com/send?phone=573054188289&text=${encodeURIComponent(whatsappMessage)}`}
        target="_blank"
        rel="noopener noreferrer"
        class="bg-[#4dbb4b] text-white px-4 py-2 rounded-full shadow-md hover:shadow-lg transition duration-300"
      >
        Contactar por WhatsApp
      </a>
    </div>
  </div>
  
  
  
