---
// Tarifa.astro
const tarifas = [
    {
        servicio: "Asesoría Básica",
        descripcion: "Dudas generales sobre impuestos, registros contables simples, trámites ante la DIAN",
        precio: "$30,000 - $50,000 COP"
    },
    {
        servicio: "Asesoría Especializada",
        descripcion: "Planeación tributaria, gestión de nómina, estructuración de costos, liquidación de impuestos complejos",
        precio: "$150,000 - $300,000 COP"
    },
    {
        servicio: "Asesoría para Empresas o PYMES",
        descripcion: "Paquete mensual que incluye asesorías y soporte contable constante",
        precio: "$300,000 - $1,500,000 COP mensuales"
    },
    {
        servicio: "Consultoría Puntual o Paquete de Asesorías",
        descripcion: "Paquetes de asesoría por un número de horas determinado a precios más accesibles",
        precio: "Precios accesibles"
    }
];
---

<section class="w-full bg-gray-100 py-16 mb-20">
    <div class="container mx-auto px-8">
      <h2 class="text-4xl text-gray-800 font-bold text-center mb-12">Precios y Tarifas</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
        {tarifas.map((tarifa) => (
          <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200 cursor-pointer transition-transform transform hover:-translate-y-3 hover:shadow-xl hover:bg-green-500 duration-300 focus:bg-green-500">
            <h3 class="text-2xl font-semibold mb-2 text-gray-800 transition-colors duration-300 group-hover:text-white">{tarifa.servicio}</h3>
            <p class="text-gray-600 mb-4 transition-colors duration-300 group-hover:text-white">{tarifa.descripcion}</p>
            <p class="text-xl font-bold transition-colors duration-300 group-hover:text-white">{tarifa.precio}</p>
          </div>
        ))}
      </div>
    </div>
  </section>
  