<div class="fixed bottom-10 right-5 lg:right-10 z-30">
    <a href="https://wa.me/573054188289" target="_blank" rel="noopener noreferrer" aria-label="Contactar vía WhatsApp">
        <img 
            class="w-20 transition-transform duration-300 transform hover:scale-110" 
            src="logow.png" 
            alt="Logo WhatsApp"
        >
    </a>
</div>
